{% macro card_report(test_summary,failed) -%}
{% if failed == true %}
{% set badge = '<span class="badge badge-danger" style="margin-left : 15px;">Failed</span>' %}
{% set card_class = 'bg-danger failed' %}
{% elif failed == false %}
{% set badge = '<span class="badge badge-success " style="margin-left : 15px;">Passed</span>' %}
{% set card_class = 'success' %}
{% endif %}
<div id="{{test_summary.summary.test_name}}" class="card col-12 {{card_class}}">
    <span class="card-body">
        <h5 class="card-title">{{test_summary.summary.test_name}}{{badge}}</h5>
        <ul>
        <li><b>Method : </b> {{test_summary.summary.method|upper}}</li>
        <li><b>URL : </b> {{test_summary.summary.url}}</li>
        <li><b>Expected Status : </b> {{test_summary.summary.expected_status}}</li>
        </ul>
        <h5 class="card-title">Request</h5>
        <ul>
        {% for key,value in test_summary.request_details.items() %}
        {% if value|normalize_false %}
        <li>
            <b>{{key}}</b>
            <pre><code>{{value}}</code></pre>
        </li>
        {% endif %}

        {% endfor %}
        </ul>
                <h5 class="card-title">Result</h5>
        <ul>
        {% for key,value in test_summary.result_details.items() %}
        {% if value|normalize_false %}
        <li>
            <b>{{key}}</b>
            <pre><code>{{key|normalize_value(value)}}</code></pre>
        </li>
        {% endif %}
        {% endfor %}
        </ul>
    </span>
</div>
{%- endmacro %}

{% for group in groups %}
    <div class="col-10 offset-1 col-md-10 offset-md-1">
    <h4 style="padding-top: 15px; padding-bottom:15 px;">Group  : {{group}} </h4>
    <hr>
    {% for reports in test_reports %}
    {% if reports.summary.group == group %}
    {{ card_report(reports,not(reports.result_details.passed)) }}
    {% endif %}
    {% endfor %}
    </div>
{% endfor %}