<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Index - My Webpage</title>
    
    <link rel="stylesheet" href="src/css/Chart.css"/>
    
    <link rel="stylesheet" href="src/css/bootstrap.css"/>
    
    <link rel="stylesheet" href="src/css/main.css"/>
    
    <link rel="stylesheet" href="src/css/datatables.css"/>
    
    
</head>
<body>

    <div class="container-fluid">
        <span class="config-title"> <h2>Test Configuration</h2> </span>


    </div>
    
</body>


<script src="src/js/jquery-3.3.1.js"></script>

<script src="src/js/datatables.js"></script>

<script src="src/js/Chart.js"></script>

<script src="src/js/main.js"></script>


</html>